*{
 padding: 0px;
 box-sizing: border-box;
 margin: 0px;
}

button{
height: 40px;
width: 200px;
border-radius: 10px;
font-size: 15px;
color: white;
background-color:rgb(70, 70, 70);
border: none;
}
body{
  position:absolute;
  top: 50%;
    right: 45%;
}

button:hover{
    opacity: 0.6;
}